#show-delivery {
  display: none;
}

.delivery {
  cursor: pointer;
  color: #0088cc;
}

.delivery:hover {
  text-decoration: underline;
}

#menushowing{
  display: none;
  font-family:cursive;
}

#menuhidden{
  font-family:cursive;
}

.clickable{
cursor: pointer;
color: #0088cc;
font-weight: bold;
}

.clickable:hover{
  text-decoration: underline;
}
h1{
  text-align:center;
  color:#7A7140;
}
h2{
  background-color: #FCF7D9;
  font-style:italic;
  text-align:center;
  color:#373528;
}

.deliveryQuestion{
  color:#7A7140;
}
.imageplusmenuplusdeliveryquestion{
  background-color: #FCF7D9;
  padding:0;
}
body{
  color: #7A7140;
  font-weight:bold
}
img{
  align: center;
}
