#show-delivery {
  display: none;
}

.delivery {
  cursor: pointer;
  color: #0088cc;
}

.delivery:hover {
  text-decoration: underline;
}

#menushowing{
  display: none;
}

.clickable{
cursor: pointer;
color: #0088cc;
}

.clickable:hover{
  text-decoration: underline;
}
